@font-face {
    font-family: 'Roboto';
    src: url(/Roboto-Regular.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    color: blueviolet;
    text-decoration: line-through overline underline;
    word-spacing: 10px;
    line-height: 50px;
    text-transform: capitalize;
    text-align: right;
}

p {
    text-align: justify;
    text-indent: 20px;
}